<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">主页</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">联系</a></li>
	  <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/posts/">笔记</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/infovis/">作品集</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://github.com/Tumaorou/Tumaorou.github.io" target="_blank" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
