/*页面*/
aside{
	display: none;
}

.content{
	margin:0 auto;
}

h3{
	margin-top:2.5em;
}

.page-content>p{
	text-indent: 2em;
}

hr~p{
	text-indent: 0 !important;
}


/*字体*/
h1,h2,h3{
	font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif !important;
}

p{
	font-family:-apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif !important;
	line-height:2.2;
}

blockquote{
	font-style:normal;
}

.page-title{
	font-size:2rem !important;
}
